/* foodcourt.css */

:root {
    --primary-color: #ffed95;
    --secondary-color: #7d5a50;
    --background-color: #e0d7ff;
    --active-tab-color: #ffe066;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
  }
  
  .foodcourt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .home-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 48px;
    color: #4c3f91;
    margin-bottom: 20px;
  }
  
  .category-tabs {
    position: sticky;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width:100%;
    gap:10px;
    
  }
  
  .category-tab {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color:black;
    text-align: center;
  }
  
  .category-tab.active {
    background-color: var(--active-tab-color);
  }
  
  .category-tab:hover {
    background-color: var(--active-tab-color);
  }
  
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 10px;
    overflow-y: auto; /* 僅允許垂直滾動 */
    width: 100%;
    box-sizing: border-box;
}

.restaurant-card {
    background-color: var(--secondary-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.restaurant-card:hover {
    transform: scale(1.05);
}

.restaurant-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.restaurant-card p {
    margin: 5px 0;
}
  
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffed95;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  text-align: center;
  color: black;
}

button:hover {
  background-color: #ffe066;
}
