.store-container {
    width: 90%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    font-family: 'Luckiest Guy', sans-serif;
  }
  
  .home-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .gift-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 70vh;
    overflow-y: scroll;
  }
  
  .gift-box {
    width: 150px;
    height: 220px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .pink {
    background-color: pink;
  }
  
  .gray {
    background-color: gray;
  }
  
  .gift-name {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .redeem-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #ffed95;
    color: black;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align:center;
  }
  
  .redeem-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.5;
    text-align:center;
    width: 100px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  .modal-content {
    text-align: center;
  }
  
  